c = get_config()
c.IPKernelApp.pylab = 'inline'
c.NotebookApp.certfile = u'/home/ubuntu/.certs/mycert.pem'
c.NotebookApp.ip = '*'
c.NotebookApp.open_browser = False

# Your password below will be whatever you copied earlier
c.NotebookApp.password = u'sha1:5c863c2d618a:217e22de1d9e329bb41ab9b6fe5a212edd194993'
c.NotebookApp.port = 8888